@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@font-face {
  font-family: "Audi-font";
  src: url("../fonts/AudiTypeV03-Normal.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Audi-font";
  src: url("../fonts/AudiTypeV03-Italic.otf") format("otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Audi-font";
  src: url("../fonts/AudiTypeV03-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Audi-font";
  src: url("../fonts/AudiTypeV03-BoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "AudiType-Extended";
  src: url("../fonts/AudiTypeV03-ExtendedNormal.otf");
  font-style: normal;
  font-weight: normal;
}
body, html {
  height: 100%;
  font-family: Audi-font, monospace;
}

body {
  background-image: linear-gradient(116deg, #33454a, #7c8e94);
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  color: #f2f2f2;
}

.root-container {
  margin-left: 371px;
  max-width: 1078px;
}

.main_header__container {
  margin-top: 80px;
  margin-left: 100px;
  width: 978px;
  height: 72px;
}

.main_picture {
  width: 778px;
  height: 327px;
  margin-top: 238px;
}

.audi_extended_normal_font {
  font-family: AudiType-Extended;
}

.header {
  font-size: 31px;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #f2f2f2;
}

.left_menu_container {
  margin-top: 181px;
}

.left_menu_item {
  height: 80px;
  max-width: 170px;
  border-left: solid 2px #f2f2f2;
  opacity: 0.2;
}

.left_menu_item_content {
  margin-left: 18px;
  line-height: 1.25;
  letter-spacing: -0.2px;
}

.left_menu_item_content_cost {
  font-family: "Audi-font";
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: normal;
  color: #ffffff;
}

.left_menu_item.active, .left_menu_item:hover {
  opacity: 1;
}

.clickable {
  cursor: pointer;
}

.custom_btn {
  font-family: "Audi-font";
  width: 224px;
  height: 52px;
  margin-top: 74px;
  background: none;
  border: 1px solid #f2f2f2;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.stick {
  width: 1px;
  height: 60px;
  border: 1px dashed #ffffff;
  opacity: 0.5;
  position: absolute;
}

.car_detail_container {
  position: absolute;
}

.car_detail_item {
  position: absolute;
}

.car_detail_tool {
  font-family: "Audi-font";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@keyframes img_animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.audi_inside_container {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 100%;
  animation: img_animation 1s linear;
}

.audi_inside {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right 20px;
}

/*# sourceMappingURL=styles.css.map */
