@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

@font-face {
  font-family: 'Audi-font';
  src: url('../fonts/AudiTypeV03-Normal.otf');
  font-style : normal;
  font-weight : normal;
}

@font-face {
  font-family: 'Audi-font';
  src: url('../fonts/AudiTypeV03-Italic.otf') format('otf');
  font-style : italic;
  font-weight : normal;
}

@font-face {
  font-family: 'Audi-font';
  src: url('../fonts/AudiTypeV03-Bold.otf') format('otf');
  font-style : normal;
  font-weight : bold;
}

@font-face {
  font-family: 'Audi-font';
  src: url('../fonts/AudiTypeV03-BoldItalic.otf') format('otf');
  font-style : italic;
  font-weight : bold;
}

@font-face {
  font-family: 'AudiType-Extended';
  src: url('../fonts/AudiTypeV03-ExtendedNormal.otf');
  font-style : normal;
  font-weight : normal;
}


html {
  //background: linear-gradient(116deg, #33454a, #7c8e94);
  font-family: Audi-font, monospace;
  height: 100%;
}

body {
  background-image: linear-gradient(116deg, #33454a, #7c8e94);
  font-size: 16px;
  background-attachment: fixed;
  height: 100%;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  color: #f2f2f2;
}

.app{
  height: 100%;
}

.root-container {
  margin-left: auto;
  margin-right: auto;
  max-width: percentage(1078/1920);
}

.main_header__container {
  margin-top: percentage(80/1080);
  margin-left: auto;
  margin-right: auto;
}

.main_picture {
  width: 778px;
  margin-top: 238px;
  display: inline-block;
  float: right;
}

.audi_extended_normal_font {
  font-family: AudiType-Extended;
}

.header {
  font-size: 31px;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #f2f2f2;
}

.left_menu_container {
  margin-top: 181px;
  display: inline-block;
}

.left_menu_item {
  height: 80px;
  max-width: 170px;
  border-left:  solid 2px #f2f2f2;
  opacity: 0.2;
}

.left_menu_item_content {
  margin-left: 18px;
  line-height: 1.25;
  letter-spacing: -0.2px;
}

.left_menu_item_content_cost {
  font-family: 'Audi-font';
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: normal;
  color: #ffffff;
}

.left_menu_item.active, .left_menu_item:hover {
  opacity: 1;
}

.clickable {
  cursor: pointer
}

.custom_btn {
  font-family: 'Audi-font';
  width: 224px;
  height: 52px;
  background: none;
  border: 1px solid #f2f2f2;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  float: left;
  cursor: pointer;
  margin-top: 60px;
}

.stick {
  left: 24px;
  width: 1px;
  height: 60px;
  border: 1px dashed #ffffff;
  opacity: 0.5;
}

.car_detail_tool {
  font-family: 'Audi-font';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@keyframes img_animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.audi_inside_container {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 100%;
  animation: img_animation 1s linear;
}

.audi_inside {
  position: relative;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right 20px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

img {
  max-width: 100%;
}

.info_page_container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-left: percentage(20/1920);
  margin-right: percentage(20/1920);
  background: #ffffff fixed;
}

.salon-container {
  max-width: percentage(1229/1880);
  background-image: url("../../../static/bitmap.png");
}

.salon {
  height: 100%;
  max-width: 100%;
  //max-width: percentage(1229/1880);

  //background-image: url("../../../static/bitmap.png");
  //background-attachment: fixed;
  object-fit: cover;
  position: relative;
}

.info_text_container {
  max-width: percentage(551/1880);
  margin-left: percentage(60/1880);
  margin-top: percentage(80/1880);
  text-align: left;
  float: left;
}

.car_feture_container {
  display: none;
}

.info_page_title {
  font-family: AudiType-Extended;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: -0.5px;
  color: #1a1a1a;
  margin-bottom: 40px;
}

.info_page_text {
  font-family: Audi-font;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #333333;
}

.half-circle-right {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: #1a1a1a;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  height: 74px;
  width: 37px;
}
.half-circle-left {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background: #1a1a1a;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  height: 74px;
  width: 37px;
}

.arrow-right {
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.arrow-left {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.car_cost {
  display: none;
}

.car_detail_list_container {
  position: absolute;
}

@media(max-width: 1024px ) {
  .salon {
    height: 100vw;
  }

  .salon-container {
    max-width: 100%;
  }

  .info_page_container {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
  }

  .info_text_container {
    max-width: percentage(280/320);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    float: none;
  }
  .half-circle-right, .half-circle-left, .arrow-left {
    display: none;
  }
}

@media (max-width: 1700px) {
  .root-container {
    max-width: 87.5vw;
    margin-right: 0;
  }
  .header {
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.3px;
    text-align: center;
    color: #f2f2f2;
  }

  .left_menu_container {
    margin-top: 80px;
    float: none;
    white-space: nowrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .left_menu_item {
    margin-left: 20px;
    height: 30px;
    border-left:  none;
    border-bottom: 2px solid #f2f2f2;
    opacity: 0.2;
    display: inline-block;
  }

  .left_menu_item_content {
    margin-left: 0;
    line-height: 1.25;
    letter-spacing: -0.2px;
  }

  .left_menu_item_content_cost{
    display: none;
  }

  .custom_btn {
    width: 280px;
    float: none;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main_picture {
    max-width: 87.5vw;
    margin-top: 60px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .car_detail_list_container {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .car_detail_container {
    display: none;
  }

  .car_cost {
    font-family: Audi-font;
    display: block;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 20px;
  }

  .car_feture_container {
    margin-left: 12px;
    white-space: nowrap;
    display: block;
    text-align: center;
  }

  .car_feature {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 40px;
  }

  .car_feature_img {
    border-radius: 100%;
    object-fit: cover;
    width: 80px;
    height: 80px;
  }
}
